/**
 * palette-picker bem module
 */

.palette-picker {
    display: grid;
    grid-template-columns: repeat(4, minmax(10px, 1fr));
    grid-gap: var(--gap);
    container: palette-picker / inline-size;

    &__color {
        container: palette-picker-color / inline-size;
        max-height: 40rem;
        overflow: auto;

        @container (min-width: 114rem) {
            display: grid;
            grid-template-columns: repeat(2, minmax(10px, 1fr));
            grid-gap: 0 var(--gap);
        }
    }
}
