/**
 * palette-picker bem module
 */

.palette-picker {
    display: grid;
    grid-template-columns: repeat(4, minmax(10px, 1fr));
    grid-gap: var(--gap);

    @container (min-width: 40rem) {
        grid-gap: calc(var(--gap) * 3);
    }
}
